[submodule "src/common/rendering/rt/unordered_dense"]
	path = src/common/rendering/rt/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "libraries/ZMusic"]
	path = libraries/ZMusic
	url = https://github.com/ZDoom/ZMusic.git
[submodule "libraries/RTGL"]
	path = libraries/RTGL
	url = https://github.com/ming4883/RTGL.git
